<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Директории и файлы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Директории и файлы</h1>

    <form class="form-inline" method="post" style="margin-top: 20px">
        <div class="form-group">
            <label>Новая директория</label>
            <input type="text" class="form-control" name="dir_name" placeholder="/opt/tomcat" style="width: 500px"/>
        </div>
        <button type="submit" class="btn btn-default">Добавить в список</button>
    </form>

    <table class="table table-bordered" style="margin-top: 20px">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Базовая директория</th>
            <th>Директорий</th>
            <th>Файлов</th>
            <th>Размер</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dir: ${listDir}">
            <td th:text="${dir.getCreateDateString()}"/>
            <td th:text="${dir.getName()}"/>
            <td th:text="${dir.getCountDir()}"/>
            <td th:text="${dir.getCountFile()}"/>
            <td th:text="${dir.getSizeString()}"/>
            <td><a th:href="'/dir/' + ${dir.getId()}">файлы</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
