<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Директории и файлы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Директории и файлы</h1>

    <p><a href="/dirs_and_files">назад</a></p>

    <p th:text="'Директория: ' + ${dir.getName()}"/>

    <table class="table table-bordered" style="margin-top: 20px">
        <thead>
        <tr>
            <th>Файл</th>
            <th>Размер</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dirFile: ${listDirFile}">
            <td th:text="${dirFile.getName()}"/>
            <td th:text="${dirFile.getSizeString()}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
